.app__casestudy {
  padding: 6rem 2rem 0 2rem;
}

.app__casestudy-desc {
  padding: 1rem;
}

.app__casestudy-img {
  width: 80%;
  margin: auto;
  object-position: 50% 50%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    height: 350px;
  }
}