.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5rem 2rem;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    font-family:  var(--font-heading);
    letter-spacing: .2rem;
    font-size: 2rem;
    color:var(--white-color);
    padding: 1rem; 
    text-decoration: none;
  }

  img {
    width: 200px;

    @media screen and (min-width: 2000px) {
      width: 300px;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;

    div {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid transparent;
      margin-bottom: 5px;
    }

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
      padding: 0 .5rem;

      transition: all 0.3s ease-in-out;
    
  
      // &:hover {
      //   color: var(--secondary-color)
      // }
 
      // div:nth-child(1) {
      //   width: 100px;
      //   height: 100px;
    
      //   &:hover {
      //     box-shadow: 0 0 25px rgba(255, 162, 0, 0.3) 
      //   }
    
      // }

      @media screen and (min-width: 2000px) {
        font-size: 25px;
        padding: 0 2rem;
      }
    }

    // &:hover {
    //   div {
    //     border-top: 10px solid var(--secondary-color)
    //   }
    // }
  }

  @media screen and (max-width: 900px) {
    display: none;
  } 
}


#app__navbar-link-home {
  &:hover {
    color: var( --pastel-red-color);
    }
}
#app__navbar-link-about {
  &:hover {
    color: var(--pastel-yellow-color);
    }
}
#app__navbar-link-work {
  &:hover {
    color: var(--pastel-green-color);
    }
}
#app__navbar-link-skills {
  &:hover {
    color: var(--pastel-blue-color);
    }
  }
#app__navbar-link-contact {
  &:hover {
    color: var(--pastel-purple-color);
    }
}

#app__navbar-li-home {
  &:hover {
    div {
    border-top: 10px solid var( --pastel-red-color);
    }
  }
}

#app__navbar-li-about {
  &:hover {
    div {
    border-top: 10px solid var(--pastel-yellow-color);
    }
  }
}

#app__navbar-li-work {
  &:hover {
    div {
    border-top: 10px solid var(--pastel-green-color);
    }
  }
}

#app__navbar-li-skills {
  &:hover {
    div {
    border-top: 10px solid var(--pastel-blue-color);
    }
  }
}

#app__navbar-li-contact {
  &:hover {
    div {
    border-top: 10px solid var(--pastel-purple-color);
    }
  }
}
.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    // background: url('../../assets/bgWhite.png') ;
    background-color: var(--white-color);
    // background-size: cover;
    // background-repeat: repeat; 

    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var( --black-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500; 
          
          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color)
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }
  
  @media screen and (min-width: 900px) {
    display: none;
  }
}
#app__navbar-menu-github {
  margin: 0rem 0rem 0rem 0rem;
}
#app__navbar-menu-linkedin {
  margin: 0rem 0rem 0rem 0rem;
}
// .app__navbar-menu-social {
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
//   flex-direction: row;
  
//   div {
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     background-color: rgba(0, 0, 0, 0.75);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: all 0.3s ease-in-out;
//     margin: 0 .5rem 0 .5rem;

//     svg {
//       width: 15px;
//       height: 15px;
//       color: var(--white-color);
//     }
//   }
//   @media screen and (min-width: 500px) {
//     display: none;
//   }
// }
